<%= form_for(@casino) do |f| %>
  <% if @casino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casino.errors.count, "error") %> prohibited this casino from being saved:</h2>

      <ul>
      <% @casino.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <%= f.check_box :public %>
    <%= f.label :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
