<h2>Total balance</h2>
<p><%= add_bullshit(Game.sum(:prize)) %></p>

<h2>Filtered by...</h2>
<h3>Game variants</h3>
<% Variant.all.each do |variant| %>
    <h4><%= variant.name %></h4>
    <p>
      <%= add_bullshit variant.prizes_sum %>
    </p>
<% end %>

<h3>Casinos</h3>
<% Casino.all.each do |casino| %>
    <h4><%= casino.name %></h4>
    <p><%= add_bullshit casino.prizes_sum %></p>
<% end %>
